{{> saludo }}
<div class="container">
    <h2>Info</h2>
    <br>
    <a href="/" class="btn btn-secondary mb-3" role="button">Nuevo Producto</a>
    <a href="/chat" class="btn btn-secondary mb-3" role="button">Centro de mensajes</a>
    <a href="/productos/test" class="btn btn-secondary mb-3" role="button">Productos test</a>
    <a class="btn btn-secondary mb-3" role="button" href="/productos">Productos</a>
    <div>
        <ul>
            <li><strong>PID:</strong> <pre>{{ info.pid }}</pre></li>
            <li><strong>Argumentos de entrada:</strong> <pre>{{ info.args }}</pre></li>
            <li><strong>Nombre Plataforma:</strong> <pre>{{ info.platform }}</pre></li>
            <li><strong>Version de Node.js:</strong> <pre>{{ info.nodeVersion }}</pre></li>
            <li><strong>Memoria total reservada:</strong> <pre>{{ info.reservedMemory }}</pre></li>
            <li><strong>Path de ejecución:</strong> <pre>{{ info.execPath }}</pre></li>
            <li><strong>Carpeta del proyecto:</strong> <pre>{{ info.path }}</pre></li>
            <li><strong>CPUs:</strong> <pre>{{ info.cpus }}</pre></li>
        </ul>
    </div>
</div>
